<style>
    .menuNavLink{
        background-color:rgba(140, 172, 150, 0.562);
    }
</style>
    <aside class="menu">
        <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Menú</h1>
        <div id="flecha">
            <i class='bx bxs-right-arrow flecha'></i>
        </div>
        <ul>
            {{#each listaTipos}}
                <li class="subindice">
                    <h4><a href="menu#{{tipos}}" class="linkprod">{{tipos}}</a></h4>
                    <ul>
                        {{#productos}}
                            <li><a href="menu#{{nombre}}" class="linkprod">{{nombre}}</a></li>
                        {{/productos}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </aside>
    <main>
        <section class="destacados">
            <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Platos Del Día</h1>
            {{#if admin}}
                <div style='position: relative; left: 200px;'>
                    <a href='/newProd'><i style='color: black;' class='bx bxs-message-add addBtn1'></i></a>
                    <i class='bx bx-x elimBtn'></i>
                </div>
                <div class='alerta'>
                        <form id='ingresoForm'>
                            <input name='nombre' type="text" placeholder='nombre de la noticia'/>
                            <br/>
                            <br/>
                            <select name="tipo"style='marginTop: 15px'>
                                <option value={''}>Seleccione un tipo de producto</option>
                                {{#each listaTipos}}
                                    <option value="{{tipos}}">{{tipos}}</option>
                                {{/each}}
                            </select>
                            <br/>
                            <br/>
                            <textarea name='contenido' placeholder='escriba el contenido de la noticia'></textarea>
                            <br/>
                            <br/>
                            <input type="submit" value="postear noticia" />
                        </form>
                    </div> 
            {{/if}}
            <div class="productos">
                {{#each listaTipos}}
                    <div class="tipo">
                        <h2 id={{tipos}} class="cursiva" style="margin-left: 70px; text-decoration: underline black;">{{tipos}}</h2>
                        {{#productos}}
                            <div class="producto">
                                <img src='{{imagen}}' alt='{{nombre}}'>
                                <div id='{{nombre}}' class="info">
                                    <h5>{{nombre}}</h5>
                                    <p>{{descripcion}}</p>
                                    <p>Precio: ${{precio}}</p>
                                </div>
                            </div>
                        {{/productos}}
                    </div>
                {{/each}}
            </div>
        </section>
        </div>
    </main>