<style>
    .menuNavLink{
        background-color:rgba(140, 172, 150, 0.562);
    }
</style>
    <aside class="menu">
        <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Menú</h1>
        <div id="flecha">
            <i class='bx bxs-right-arrow flecha'></i>
        </div>
        <ul>
            <li class="subindice">
                <h4><a href="menu#pastas" class="linkprod">Pastas</a></h4>
                <ul>
                    <li><a href="#" class="linkprod">Fideos con salsa blanca</a></li>
                    <li><a href="#" class="linkprod">Ñoquis</a></li>
                    <li><a href="menu#lasagna" class="linkprod">Lasagna de verdura</a></li>
                    <li><a href="#" class="linkprod">Capelettinni</a></li>
                </ul>
            </li>
            <li class="subindice">
                <h4><a href="menu#hamburguesas" class="linkprod">Hamburguesas</a></h4>
            <li><a href="#" class="linkprod">De berenjena</a></li>
            <li><a href="menu#hamburguesaDeLegumbre" class="linkprod">De legumbre</a></li>
            <li><a href="#" class="linkprod">De legumbres con cheddar</a></li>
            </li>
            <li class="subindice">
                <h4><a href="menu#pizzas" class="linkprod">Pizzas</a></h4>
            <li><a href="#" class="linkprod">Simple</a></li>
            <li><a href="#" class="linkprod">De tomate</a></li>
            <li><a href="#" class="linkprod">De 4 quesos</a></li>
            </li>
            <li class="subindice">
                <h4><a href="menu#otro" class="linkprod">Otros</a></h4>
            </li>
        </ul>
    </aside>
    <main>
        <section class="destacados">
            <h1 class="cursiva" style="margin-left: 50px; text-decoration: underline black;">Platos Del Día</h1>
            {{#if admin}}
                <div style='position: relative; left: 200px;'>
                    <a href='/newProd'><i style='color: black;' class='bx bxs-message-add addBtn1'></i></a>
                    <i class='bx bx-x elimBtn'></i>
                </div>
                <div class='alerta'>
                        <form id='ingresoForm'>
                            <input name='nombre' type="text" placeholder='nombre de la noticia'/>
                            <br/>
                            <br/>
                            <select name="tipo"style='marginTop: 15px'>
                                <option value={''}>Seleccione un tipo de producto</option>
                                <option value='Pastas'>
                                    Pastas
                                </option>
                                <option value='Hamburguesas'>
                                    Hamburguesas
                                </option>
                                <option value='Pizzas'>
                                    Pizzas
                                </option><option value='Otros'>
                                    Otros
                                </option>
                            </select>
                            <br/>
                            <br/>
                            <textarea name='contenido' placeholder='escriba el contenido de la noticia'></textarea>
                            <br/>
                            <br/>
                            <input type="submit" value="postear noticia" />
                        </form>
                    </div> 
            {{/if}}
            <div class="productos">
                {{#each tipos}}
                    <h2 id={{tipo}} class="cursiva" style="margin-left: 70px; text-decoration: underline black;">{{tipo}}</h2>
                    {{#each prods}}
                        {{#if tipo_de_producto==tipo}}
                            <div class="producto">
                                <img src={{imagen}} alt={{nombre}}>
                                <div id={{nombre}} class="info">
                                    <h5>{{nombre}}</h5>
                                    <p>{{cuerpo}}</p>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
            </div>
        </section>
        </div>
    </main>